.MainPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* #### NAVBAR #### */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #172141; /* 172141, 1d2868, 63c6f7, f7c113, 1d2868*/
  color: white;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}


/* ##### BODY ##### */
body {
  font-family: Arial, sans-serif;
  background-color: #dff0f5;
  margin: 0;
}

/* Mer padding mellom navbar og boksen  */
.main-content {
  flex: 1;
  padding: 32px 48px 48px;
  box-sizing: border-box;
  background-color: #dff0f7; /* dff0f5,  FFEBAD, fddbb9*/
  display: flex;
  flex-direction: column;
}

/* Den store hvite boksen */
.main-box {
  flex: 1;
  background: white;
  border-radius: 8px;
  border: 1px solid #c8dde3;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* #### ERROR BOX #### */
.error-box {
  padding: 12px 16px;
  background: #ffe0e0;
  color: #900;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  font-weight: bold;
  white-space: pre-line;
  flex-shrink: 0;
}

/* #### Endre rekkefølge på aspekter #### */
.aspect-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.aspect-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f0f0f0;
  padding: 5px 8px;
  border-radius: 6px;
}

.aspect-item button { cursor: pointer; }

/* #### FULLSCREEN #### */
.fullscreen-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: white;
  display: flex;
  flex-direction: column;
}

/* FOOTER */
.footer {
  padding: 15px;
  padding-bottom: 20px;
  text-align: center;
  background: #172141; /* 172141, 1d2868, 63c6f7, f7c113, 1d2868*/
  color: white;
} 