/* Slider */
.slider {
    position: relative;
    width: 1px;
    cursor: col-resize;
    user-select: none;
    background: #c8dde3;
    flex-shrink: 0;
    transition: width 0.1s, background 0.1s;
}

.slider:hover {
    background: #8fc5d6;
    width: 3px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #c8dde3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
/* #### SPLIT PANE #### */
.split-pane-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.split-left {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
}

.split-right {
    flex: 1;
    min-width: 0;
    min-height: 0;
    /*padding: 50px;*/
    overflow: hidden;
    background: white;
}